<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.prime-contact.rts"
        version   = "1.0.6">

    <name>RTS HD</name>

    <description>
        RTS Demo application for Ipad
    </description>

    <author href="http://www.prime-contact.com" email="peter@prime-contact.com">
        Prime-Contact BV
    </author>

    <preference name="phonegap-version" value="3.1.0" />
    <preference name="orientation" value="landscape" />
    <preference name="fullscreen" value="true" />

    <gap:plugin name="com.phonegap.plugin.statusbar" />

    <gap:platforms><gap:platform name="ios" /></gap:platforms>


    <icon src="icon57.png"                          gap:platform="ios"        width="57" height="57" />
    <icon src="icon72.png"                          gap:platform="ios"        width="72" height="72" />
    <icon src="icon114.png"                         gap:platform="ios"        width="114" height="114" />
    <icon src="icon144.png"                         gap:platform="ios"        width="144" height="144" />
    
    <access origin="*" />

</widget>
